.container {
  background: white;
  border: 1px solid gray;
  height: 150px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.container-guideline-edge,
.container-guideline-center,
.canvas-below {
  background: white;
  height: 100%;
  position: absolute;
  width: 100%;
}

.container-above-2,
.container-above {
  height: 100%;
  position: absolute;
  width: 100%;
}

.container-guideline-edge:before,
.container-guideline-edge:after,
.container-guideline-center {
  content: "";
  left: 2%;
  position: absolute;
  width: 96%;
}

.container-guideline-edge:before {
  background: #e0e0e0;
  height: 1px;
  top: 25%;
}

.container-guideline-center {
  /* 10px red then 5px transparent -> repeat this! */
  background: repeating-linear-gradient(
    to right,
    #e0e0e0 0,
    #e0e0e0 10px,
    transparent 10px,
    transparent 15px
  );
  background: webkit-repeating-linear-gradient(
    to right,
    #e0e0e0 0,
    #e0e0e0 10px,
    transparent 10px,
    transparent 15px
  );
  height: 1px;
  top: 50%;
}

.container-guideline-edge:after {
  background: #9e9e9e;
  height: 2px;
  top: 75%;
}

.container-guideline {
  border-bottom: 2px solid #9e9e9e;
  border-top: 1px solid #e0e0e0;
  height: 50%;
  left: 2%;
  position: absolute;
  top: 25%;
  width: 96%;
}

.container-guideline:after {
  border-top-color: #e0e0e0;
  border-top-style: dashed;
  border-top-width: 2px;
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}
